# Logs
*.log
dsh_service.log
server.log

# Node dependencies & caches
node_modules/
.npm-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & debug files
*.tmp
problem/
